* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.baslikbackground {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
}

.baslik-baslik{
    width: 98%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.baslik-baslik h1 {
    color:  rgb(255, 255, 255);
    margin-top: -40px; 
    margin-left: 1700px;
}




.baslik-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-link {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -90px;
    left: 828px;
    
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.about-link-2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -75px;
    left: 828px;
    
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.about-link-2 a {
    color: rgb(255, 255, 255); 
    font-size: 30px;
}
.about-link a {
    color: rgb(255, 255, 255); 
    font-size: 30px;
    
}


.baslik-item img {
    width: 98%;
    height: auto;
    max-height: 300px; 
   
}



.flex-container {
    background-color:  rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px; 
}

.flex-item {

    flex: 0 0 23%; 
    margin: 2px; 
}

.flex-item img {
    width: 440px; 
    height: 600px; 
    object-fit: cover; 
}

